<div class="container">
    <br />
    <h5>Cloud Asset Password Recovery</h5>
    <br>
    <div class="forgotpanel">
        <div *ngIf="mailSent">
            Password recovery mail sent! Please check your mail box
        </div>
        <div *ngIf="!mailSent">
            <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" email
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required formControlName="email"
                            name="email" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>