.container {
    align-items: center;
    justify-content: center;
    width: 400px;
    min-height: 100%;
    padding: 20px;
  }

  h5{
      text-align: center;
  }

  .forgotpanel
  {
        border-radius: 5px;
        border: solid 1px #c9c9c9;
        padding: 20px;
        box-shadow: 5x 5px 5px #c9c9c9;
  }
