<div class="container">
    <br />
    <h5>Cloud Asset Reset Password</h5>
    <br>
    <div class="resetpasswordpanel">
        <div *ngIf="passwordResetDone">
            Password reset done.
        </div>
        <div *ngIf="tokenExpired && !passwordResetDone">
            Your reset request has expired! Please try resetting password again
        </div>
        <div *ngIf="!tokenExpired && !passwordResetDone">
            <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Name:</strong> {{name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <strong>Email:</strong> {{email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" password
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required formControlName="password"
                            name="password" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">New Password is required</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" password
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" required 
                            formControlName="confirmpassword" name="confirmpassword" />
                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmpassword.errors.confirmedValidator">Password and Confirm Password do not match</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>