<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container{
    margin: 1rem;
    width: 98%;
    max-width: 98%;
  }
</style>

<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">CloudAsset</a>
    <a href="#" class="logout" (click)="logout()" *ngIf="isLoggedIn()">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>